<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="static/img/mic_GOC_icon.ico" type="image/x-icon">
    <title>MIC TOP 200</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">首頁</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#rank_link">全球百大</a>
                    </li>
                    <li>
                        <a href="#rank_market_cap_link">市值排行</a>
                    </li>
                    <li>
                        <a href="#rank_industry_link">產業排行</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div id="rank_link" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <br>
                <br>
                <br>
                <br>
                <h1 class="text_center">全球百大</h1>
                <br>
                <br>
                <div class="hidden">
                    <form action="/query" method="get" id="rank_form">
                        <input type="text" name="date" id="rank_date_input" value="{{ date }}">
                        <input type="text" name="industry" id="rank_industry_input" value="{{ industry }}">
                        <input type="text" name="anchor" id="rank_anchor_input" value="{{ anchor }}">
                        <input type="submit" value="submit" id="rank_submit_input">
                    </form>
                </div>                
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <a type="button" id="rank_date_button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{ date }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            {% for i in date_list %}
                            <li>
                                <a class="pointer" onclick="dropdown_select('rank_date_button', '{{ i }}'); fill_form('rank_date_input', '{{ i }}'); fill_form('rank_anchor_input', 'rank_link'); query('rank_submit_input')">{{ i }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a type="button" id="rank_industry_button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            {{ industry }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            {% for i in industry_list %}
                            <li>
                                <a class="pointer" onclick="dropdown_select('rank_industry_button', '{{ i }}'); fill_form('rank_industry_input', '{{ i }}'); fill_form('rank_anchor_input', 'rank_link'); query('rank_submit_input')">{{ i }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <br>
                <br>
                <div id="rank_table_id" class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>排名</th>
                                <th>公司</th>
                                <th>產業</th>
                                <th>交易所</th>
                                <th>市值（美元）</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in rank_list %}
                            <tr>
                                <td>{{ i[0] }}</td>
                                <td>{{ i[1] }}</td>
                                <td>{{ i[2] }}</td>
                                <td>{{ i[3] }}</td>
                                <td>{{ i[6] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <br>
                <div id="rank_market_cap_link" class="col-lg-12">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 class="text_center">市值排行</h1>
                    <br>
                    <br>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                                <a type="button" id="rank_date_button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{ date }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    {% for i in date_list %}
                                    <li>
                                        <a class="pointer" onclick="dropdown_select('rank_date_button', '{{ i }}'); fill_form('rank_date_input', '{{ i }}'); fill_form('rank_anchor_input', 'rank_market_cap_link'); query('rank_submit_input')">{{ i }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                        </div>                                                
                    </div>
                    <br>
                    <br>
                    <canvas id="rank_market_cap_chart" height="1000"></canvas>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <br>
                <br>
                <div id="rank_industry_link" class="col-lg-12">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 class="text_center">產業排行</h1>
                    <br>
                    <br>
                    <canvas id="rank_industry_chart" height="150"></canvas>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default text_center footer">
        <div class="panel-footer">
            <br>
            <br>
            <em>All Right Reserved</em>
            <br>
            <br>
        </div>
    </div>
</body>
<script>
    {% if anchor %}
    $(document).ready(function () {
        window.location = '#{{ anchor }}'
    }); 
    {% endif %}
</script>
<script>
    var company_name_array = [];
    var market_cap_array = [];
    var date_array = [];
    var industry0_array = [];
    var industry1_array = [];
    var industry2_array = [];
    var industry3_array = [];
    var industry4_array = [];
    var industry5_array = [];
    var industry6_array = [];
    var industry7_array = [];
    var industry8_array = [];
    var industry9_array = [];
    var industry10_array = [];
    var industry11_array = [];
    var industry12_array = [];

    {% for i in company_name_list %}
        company_name_array.push('{{ i }}');
    {% endfor %}
    {% for i in market_cap_list %}
        market_cap_array.push('{{ i }}');
    {% endfor %}
    {% for i in date_list[::-1] %}
        date_array.push('{{ i }}');
    {% endfor %}
    {% for i in industry_market_cap_list[0] %}
        industry0_array.push({{ i }});
    {% endfor %}
    {% for i in industry_market_cap_list[1] %}
        industry1_array.push({{ i }});
    {% endfor %}
    {% for i in industry_market_cap_list[2] %}
        industry2_array.push({{ i }});
    {% endfor %}
    {% for i in industry_market_cap_list[3] %}
        industry3_array.push({{ i }});
    {% endfor %}
    {% for i in industry_market_cap_list[4] %}
        industry4_array.push({{ i }});
    {% endfor %}
    {% for i in industry_market_cap_list[5] %}
        industry5_array.push({{ i }});
    {% endfor %}
    {% for i in industry_market_cap_list[6] %}
        industry6_array.push({{ i }});
    {% endfor %}
    {% for i in industry_market_cap_list[7] %}
        industry7_array.push({{ i }});
    {% endfor %}
    {% for i in industry_market_cap_list[8] %}
        industry8_array.push({{ i }});
    {% endfor %}
    {% for i in industry_market_cap_list[9] %}
        industry9_array.push({{ i }});
    {% endfor %}
    {% for i in industry_market_cap_list[10] %}
        industry10_array.push({{ i }});
    {% endfor %}
    {% for i in industry_market_cap_list[11] %}
        industry11_array.push({{ i }});
    {% endfor %}
    {% for i in industry_market_cap_list[12] %}
        industry12_array.push({{ i }});
    {% endfor %}
    
</script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14/dist/smooth-scroll.polyfills.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="static/chart.js"></script>
</html>