<div id="bar_chart_h_link" class="col-lg-12">
    <br>
    <br>
    <h1 class="text_center">Bar Chart H</h1>
    <br>
    <br>
    <canvas id="bar_chart_h" width="100" height="50"></canvas>
    <br>
    <br>
    <br>
    <br>
</div>
<div id="bar_chart_link" class="col-lg-12">
    <br>
    <br>
    <h1 class="text_center">Bar Chart</h1>
    <br>
    <br>
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <a type="button" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown">
                Date
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#">Tablet</a>
                </li>
                <li>
                    <a href="#">Smartphone</a>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Company
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#">Test</a>
                </li>
                <li>
                    <a href="#">Smartphone</a>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Industry
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#">Tablet</a>
                </li>
                <li>
                    <a href="#">Smartphone</a>
                </li>
            </ul>
        </div>
    </div>
    <canvas id="bar_chart" width="100" height="50"></canvas>
    <br>
    <br>
    <br>
    <br>
</div>
<div id="line_chart_link" class="col-lg-12">
    <br>
    <br>
    <h1 class="text_center">Line Chart</h1>
    <br>
    <br>
    <canvas id="line_chart" width="100" height="50"></canvas>
    <br>
    <br>
    <br>
    <br>
</div>
<div id="pie_chart_link" class="col-lg-12">
    <br>
    <br>
    <h1 class="text_center">Pie Chart</h1>
    <br>
    <br>
    <canvas id="pie_chart" width="100" height="50"></canvas>
    <br>
    <br>
    <br>
    <br>
</div>
<div id="radar_chart_link" class="col-lg-12">
    <br>
    <br>
    <h1 class="text_center">Radar Chart</h1>
    <br>
    <br>
    <canvas id="radar_chart" width="100" height="50"></canvas>
    <br>
    <br>
    <br>
    <br>

</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br>
    <br>
    <br>
    <br>
</div>